{% extends "main/base.html" %}


{% block title %}Home{% endblock title %}


{% block content %}

<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">The Annual<br><span>Tech</span> Conference</h1>
      <p class="mb-4 pb-0">25-27 September, Hyatt Place, Kathmandu</p>
      <a href="https://www.youtube.com/watch?v=AUmwVsStuHM" class="glightbox play-btn mb-4"></a>
      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
</section>


<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container position-relative" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <h2>About Event</h2>
          <p>This is a conference for an IT startup ideas for new enterpreneurs. In this session we discuss various thing about company.
            The participants in this meeting will be some of the top tiers enterpreneurs from variety of industry who excel in their field.
            New startups can learn a lot of things an gain valuable information for their own company.
          </p>
        </div>
        <div class="col-lg-3">
          <h3>Where</h3>
          <p>Hyatt Place, Kathmandu</p>
        </div>
        <div class="col-lg-3">
          <h3>When</h3>
          <p>Monday to Wednesday<br>25-27 September</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  

</main>

{% endblock content %}