{% extends "main/base.html" %}


{% block title %}Home{% endblock title %}


{% block content %}

<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">The Annual<br><span>Tech</span> Conference</h1>
      <p class="mb-4 pb-0">25-27 September, Hyatt Place, Kathmandu</p>
      <a href="https://www.youtube.com/watch?v=AUmwVsStuHM" class="glightbox play-btn mb-4"></a>
      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
</section>

{% endblock content %}