{% extends "main/base.html" %}


{% block title %}Home{% endblock title %}

{% load static %}

{% block content %}

<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">The Annual<br><span>Tech</span> Conference</h1>
      <p class="mb-4 pb-0">25-27 September, Hyatt Place, Kathmandu</p>
      <a href="https://www.youtube.com/watch?v=AUmwVsStuHM" class="glightbox play-btn mb-4"></a>
      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
</section>


<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container position-relative" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <h2>About Event</h2>
          <p>This is a conference for an IT startup ideas for new enterpreneurs. In this session we discuss various thing about company.
            The participants in this meeting will be some of the top tiers enterpreneurs from variety of industry who excel in their field.
            New startups can learn a lot of things an gain valuable information for their own company.
          </p>
        </div>
        <div class="col-lg-3">
          <h3>Where</h3>
          <p>Hyatt Place, Kathmandu</p>
        </div>
        <div class="col-lg-3">
          <h3>When</h3>
          <p>Monday to Wednesday<br>25-27 September</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Speakers Section ======= -->
  <section id="speakers">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Event Speakers</h2>
        <p>Here are some of our speakers</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static "img/speakers/1.png" %}" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Kong</a></h3>
              <p>Quas alias incidunt</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static "img/speakers/2.png" %}" alt="Speaker 2" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Deadpool</a></h3>
              <p>Consequuntur odio aut</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="300">
            <img src="{% static "img/speakers/3.png" %}" alt="Speaker 3" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Joker</a></h3>
              <p>Fugiat laborum et</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static "img/speakers/4.png" %}" alt="Speaker 4" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Luffy</a></h3>
              <p>Debitis iure vero</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static "img/speakers/5.png" %}" alt="Speaker 5" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Naruto</a></h3>
              <p>Qui molestiae natus</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="300">
            <img src="{% static "img/speakers/6.png" %}" alt="Speaker 6" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Kratos</a></h3>
              <p>Non autem dicta</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- End Speakers Section -->

  <!-- ======= Schedule Section ======= -->
  <section id="schedule" class="section-with-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Event Schedule</h2>
        <p>Here is our event schedule</p>
      </div>

      <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
        <li class="nav-item">
          <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Day 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Day 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Day 3</a>
        </li>
      </ul>

      <h3 class="sub-heading">Here is our list of schedules for the program.</h3>

      <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

        <!-- Schdule Day 1 -->
        <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

          <div class="row schedule-item">
            <div class="col-md-2"><time>09:30 AM</time></div>
            <div class="col-md-10">
              <h4>Registration</h4>
              <p>All the guest's registration will start at this time.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>10:00 AM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="{% static "img/speakers/1.png" %}" alt="Kong">
              </div>
              <h4>Keynote <span>Kong</span></h4>
              <p>Facere provident incidunt quos voluptas.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>11:00 AM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/2.jpg" alt="Hubert Hirthe">
              </div>
              <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
              <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12:00 AM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/3.jpg" alt="Cole Emmerich">
              </div>
              <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>
              <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>02:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/4.jpg" alt="Jack Christiansen">
              </div>
              <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>
              <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>03:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/5.jpg" alt="Alejandrin Littel">
              </div>
              <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>
              <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>04:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">
              </div>
              <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
              <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
            </div>
          </div>

        </div>
        <!-- End Schdule Day 1 -->

        <!-- Schdule Day 2 -->
        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

          <div class="row schedule-item">
            <div class="col-md-2"><time>10:00 AM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">
              </div>
              <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>
              <p>Facere provident incidunt quos voluptas.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>11:00 AM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/2.jpg" alt="Hubert Hirthe">
              </div>
              <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
              <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12:00 AM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/3.jpg" alt="Cole Emmerich">
              </div>
              <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>
              <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>02:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/4.jpg" alt="Jack Christiansen">
              </div>
              <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>
              <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>03:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/5.jpg" alt="Alejandrin Littel">
              </div>
              <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>
              <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>04:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">
              </div>
              <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
              <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
            </div>
          </div>

        </div>
        <!-- End Schdule Day 2 -->

        <!-- Schdule Day 3 -->
        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

          <div class="row schedule-item">
            <div class="col-md-2"><time>10:00 AM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/2.jpg" alt="Hubert Hirthe">
              </div>
              <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
              <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>11:00 AM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/3.jpg" alt="Cole Emmerich">
              </div>
              <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>
              <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12:00 AM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">
              </div>
              <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>
              <p>Facere provident incidunt quos voluptas.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>02:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/4.jpg" alt="Jack Christiansen">
              </div>
              <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>
              <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>03:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/5.jpg" alt="Alejandrin Littel">
              </div>
              <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>
              <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>04:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">
              </div>
              <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
              <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
            </div>
          </div>

        </div>
        <!-- End Schdule Day 2 -->

      </div>

    </div>

  </section>
  <!-- End Schedule Section -->

</main>

{% endblock content %}